
.map {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.sidenav {
  height: 100%;
  width: 160px;
  margin-top: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}

.topnav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}
.positionbox {
  height: 150px;
  width: 160px;
  margin-top: 10px;
  background-color: #C0C0C0;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.6;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
	position: relative;
  margin-left: 160px; /* Same as the width of the sidenav */
  margin-top: 75px; /* Same as height of topnav*/
  padding: 0px 10px;
  top:0;
  left:0;
  z-index: 0;
}

.marker {
	position: absolute;
}

/* grid styling */
polygon {
  transition: 0.4s;
  cursor: pointer;
  fill: transparent;
}
.pod-wrap polygon:hover {
  fill: #000000;
}